.wrapper {
  background-image: linear-gradient(-225deg, rgba(100,100,100,0.8) 0%, rgba(100,100,100,0.8) 50%), url('../images/crowd.jpg');
  height: 100vh;
  background-size: cover;
}

.drums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0;
}

.drum {
  flex: 1 1 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin: 0 5px;
  box-shadow: 0 0 5px #ccc;
}

.drum h2, p {
  flex: 1 1 auto;
  color: white;
}

.drum p {
  margin-bottom: 0;
}
